body, html {
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color:black;
	/*background-color:rgb(122, 219, 219);*/
}

#cr-stage {
	border:2px solid black;
	margin:5px;
}

#notifications {
	width: 100px;
	height: 100px;
	margin: 5px;
	overflow-y: scroll;
}

#status-panel {
	margin-bottom: 10px;
}

#controls {
	margin-bottom: 10px;
}

body .modal {
	left: -512px;
}

body .modal-content {
    /* new custom width */
    width: 1024px;
}

#world-map-container {
}

.map-cell {
	margin: 0px;
	float: left;
	width: 64px;
	height: 64px;
	background-color: green;
	text-align: center;
}