body, html {
	margin:0;
	padding: 0;
	overflow:hidden;
	background-color:black;
	/*background-color:rgb(122, 219, 219);*/
}

#cr-stage {
	border:2px solid black;
	margin:5px;
}

#notifications {
	margin: 5px;
	overflow-y: scroll;
}

#status-panel {
	margin-bottom: 10px;
}

#controls {
	margin-bottom: 10px;
}

#world-map-container {
	margin: auto;
}

.map-cell {
	margin: 0px;
	float: left;
	width: 32px;
	height: 32px;
	background-color: green;
	text-align: center;
}